<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../bower_components/paper-elements/paper-elements.html"-->
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/property-effects.html">


<dom-module id="movimientos-cliente">
  <template>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }
      TD{font-family: Arial; font-size:20pt;}
      .pesos:before {
        content: "$";
      }
    </style>


    <div class="container" style="background-color: white;">
      <div class="row">
        <h1 class="col-lg-12">Listado Movimientos</h1>
        <button class="btn btn-primary" on-click="obtenerProductos" type="button" name="button">Ver Movimientos</button>
      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Cuenta</th>
              <th scope="col">Importe</th>
              <th scope="col">Fecha Compra</th>
              <th scope="col">Establecimiento</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td font-size: 14px>
                  [[item.cuenta]]
                </td>
                <td class="pesos">
                  [[item.montocompra]]
                </td>
                <td>
                  [[item.fecha]]
                </td>
                <td>
                  [[item.establecimiento]]
                </td>
              </tr>
            </template>
          </tbody>

        </table>

      </div>

    </div>



  </template>

  <script>
    class MovimientosCliente extends Polymer.Element {
      static get is() { return 'movimientos-cliente'; }
      static get properties(){
        return{
          movimientos: {
            type:Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          }
        };
      }

      obtenerProductos(){
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        console.log(this.movimientos);
        this.noCargados = false;
      }

    }


    window.customElements.define(MovimientosCliente.is, MovimientosCliente);
  </script>
</dom-module>
